/* Font Integration */
@font-face {
    font-family: 'EBGaramond'; /* All Others */
    src: url('Fonts/EBGaramond-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Lobster'; /* Title */
    src: url('Fonts/Lobster-Regular.ttf');
}
@font-face {
    font-family: 'Silkscreen'; /* Header Text (Video Game Style) */
    src: url('Fonts/Silkscreen-Regular.ttf');
}
@font-face {
    font-family: 'DancingScript'; /* Backquote & Cite */
    src: url('Fonts/DancingScript-VariableFont_wght.ttf');
}

/***********************
******** Global ********
***********************/
* {
    box-sizing: border-box;
}
body {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    font-family: 'EBGaramond';
}
h1 {
    font-size: 3.5em;
    font-family: 'Lobster';
}
h2 {
    font-size: 2.5em;
    font-family: 'Lobster';
    text-align: center;
}
h3 {
    font-size: 2em;
    font-family: 'Silkscreen';
    text-decoration: underline;
}
section {
    padding: 1em;
}
ul {
    padding: 0;
    font-size: 1.2em;
}
p {
    font-size: 1.2em;
}
cite {
    font-size: 1.2em;
    font-family: 'DancingScript';
}

/* Global Class */
.main_container {
    width: 85%;
}
.d-flex {
    display: flex;
}
.f-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Id Section */
#acceuil {
    background-image: linear-gradient(#FCBC27, #c9c9c9);
}
#project {
    background-image: linear-gradient(#c9c9c9, #ececec 5% 90%, #c9c9c9);
}
#about, #contact {
    background-color: #c9c9c9;
}

/**********************
******** Aside ********
**********************/
aside {
    position: sticky;
    top: 0;
    left: 0;
    width: 15%;
    height: 100dvh;
    padding: 1em;
    background-image: linear-gradient(#FCBC27, #FF851A, #FF6725);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Nav Bar */
nav a {
    margin: 0.5em 0;
    padding: 0.4em 0.6em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: 0.2s all;
}
nav a:hover, nav a:focus {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/***********************
******** Header ********
***********************/
header {
    width: 100%;
    height: 60dvh;
    padding: 1em;
    font-family: 'Silkscreen';
}

/*********************
******** Main ********
*********************/

/* Section | About */
.about_info_container {
    justify-content: space-around;
}
.about_info_box {
    justify-content: space-around;
    align-items: center;
    width: 45%;
    padding: 0.5em;
    background-color: #ffe761;
    border-radius: 15px;
}

/* Section | Project */
.project_container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}
.project_box {
    width: 30%;
    padding: 0.5em;
    text-align: center;
    background-color: #FCBC27;
    border-radius: 15px;
}
.project_box_img {
    width: 100%;
    filter: blur(2px);
    transition: 0.5s;
}
.project_box_img img {
    width: 100%;
    border-radius: 10px;
}
.project_box_img:hover {
    transform: scale(1.01);
    filter: blur(0);
}

/* Section | Contact */
.contact_form {
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 1em;
    background-color: #FCBC27;
    border: 3px solid #535353d2;
    border-radius: 10px;
}
.contact_form input,
.contact_form textarea {
    padding: 0.2em 0.5em;
    border-radius: 10px;
    width: 100%;
}
.contact_space {
    text-align: center;
}
.contact_info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}